In [1]:
import psycopg2

In [2]:
try:
    conn = psycopg2.connect("host = 127.0.0.1 dbname=project1 user=postgres password=Pranay@7274")
    
except psycopg2.Error as e:
    print("Error: Could not make connection to the Postgres database")
    print(e)

In [3]:
try:
    cur = conn.cursor()
except psycopg2.Error as e:
    print("Error: Could not get cursor to the Database")
    print(e)

In [4]:
conn.set_session(autocommit=True)

#### Create Table for students which includes below columns
student_id
name
age
gender
subject
marks

In [5]:
try:
    cur.execute("CREATE TABLE IF NOT EXISTS students (student_id int,\
                name varchar,\
                age int,\
                gender varchar,\
                subject varchar,\
                marks int);")
except psycopg2.Error as e:
    print("Error: Issue creating table")
    print(e)

#### Insert the following two rows in the table
First Row: 1, "Raj",23,"Male","Python",85
Second Row: 2, "Priya",22,"Female","Python",86

In [6]:
try:
    cur.execute("INSERT INTO students (student_id, name,age,gender,subject,marks)\
                VALUES (%s,%s,%s,%s,%s,%s)",
                (1, "Raj",23,"Male","Python",85))
except psycopg2.Error as e:
    print("Error: Inserting Rows")
    print(e)
    
try:
    cur.execute("INSERT INTO students (student_id, name,age,gender,subject,marks)\
                VALUES (%s,%s,%s,%s,%s,%s)",
                (2, "Priya",22,"Femal","Python",86))
except psycopg2.Error as e:
    print("Error: Inserting Rows")
    print(e)

#### Validate your data was inserted into the table

In [8]:
try:
    cur.execute("SELECT *FROM students;")
except psycopg2.Error as e:
    print("Error: Select *")
    print(e)

row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

(1, 'Raj', 23, 'Male', 'Python', 85)
(2, 'Priya', 22, 'Femal', 'Python', 86)

#### And finally close your cursor and connection.

In [9]:
cur.close()
conn.close()